.root {
  /* JavaFX does NOT support CSS variables */
  -fx-font-family: "Arial", sans-serif;
  -fx-background-color: #f0f0f0;
  -fx-control-inner-background: #ffffff;
  -fx-text-fill: #333333;
  -fx-base: #007bff;
  -fx-accent: #00bfff;
}

/* Component Styles */
.button {
  -fx-background-color: #007bff;
  -fx-text-fill: white;
  -fx-padding: 2% 4%;
  -fx-font-size: 1.2em;
  -fx-font-weight: bold;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

.button:hover {
  -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0);
}

.canvas {
  -fx-border-color: #007bff;
  -fx-pref-width: 100%;
  -fx-pref-height: 100%;
}

/* Scene-Specific Styles */
.dinosaur-scene {
  /* Specific styles for the Dinosaur Game */
  /* Default Text Component Styling */

  .text-component {
    -fx-font-family: "Monaco";
    -fx-font-size: 30px;
    -fx-fill: Blue;
  }

  .menu-scene {
    /* Specific styles for the menu */
  }
}
